<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/quizTaker.css}">
    <title>Happy Quizzee Time!....</title>
</head>
<body>
    <form th:action="@{/processAns}" method="post">
        <div th:each="q, stat: ${Questions}">
            <p th:text="${q.questionText}"></p>
            <input type="hidden" th:name="answerList[__${stat.index}__].id" th:value="${q.id}">
            <ul style="list-style-type: none;">
                <li th:each="i ,optstat: ${q.options}">
                    <input type="radio" th:id="'ans_'+${stat.index}+'_'+${optstat.index}"  th:name="answerList[__${stat.index}__].selectedAns" th:value="${i}"><label th:for="'ans_'+${stat.index}+'_'+${optstat.index}" th:text="${i}"></label>
                </li>
            </ul>
            
        </div>
        <button type="submit">Click to Submit</button>
    </form>
</body>
</html>
